{% include 'header.html' %}
<div style="margin-top: 90px; margin-bottom: 60px;"> <!-- Ajustado para mayor separación -->
  <main style="margin: 1cm;">
    <h1 style="text-align: center; color: red; margin-top: 5mm;">¿Estás seguro de eliminar este usuario?</h1> <!-- Ajustado el margen superior -->
    <p style="text-align: center;">Usuario: {{ user.username }}</p>
    <p style="text-align: center;">Email: {{ user.email }}</p>
    <form method="POST" style="text-align: center;">
      {% csrf_token %}
      <div style="display: flex; justify-content: center; gap: 10px;">
        <button type="submit" class="delete-btn">Confirmar Eliminación</button>
        <a href="{% url 'admin_user_list' %}" style="text-decoration: none;">
          <button type="button" class="cancel-btn">Cancelar</button>
        </a>
      </div>
    </form>
  </main>
</div>
{% include 'footer.html' %}
